td {
    height: 50px;
    width: 50px;
    background-color: azure ;
}

tr{
    background-color: red;
    height: 50px;
}

div {
    height: 50px;
    width: 50px;
    background-color: green;
}

body {
    background-color: beige;
}

.blue {
    background-color: cornflowerblue;
}

.red {
    background-color: coral;
}

.green {
    background-color: greenyellow;
}

